<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="csHackathon" connectionString="Server=.\sqlexpress;database=Hackathon;Integrated Security=True"/>
    <add name="HackathonConnectionString" connectionString="Data Source=.\SqlExpress;Initial Catalog=Hackathon;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding11" />
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
      <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
      <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
      <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
      <endpoint address="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortES" />
      <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
      <endpoint address="https://webservices.amazon.in/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortIN" />
      <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
      <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
      <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding9"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding10"
        contract="ItemRequest.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />
      <endpoint address="http://vhost0221.site1.compute.ihost.com/aspnet_client/HackathonWebservice/WebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
        contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
      <endpoint address="http://vhost0221.site1.compute.ihost.com/aspnet_client/HackathonWebservice/WebService.asmx"
        binding="customBinding" bindingConfiguration="WebServiceSoap12"
        contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>